Options -Indexes
RewriteEngine On

RewriteRule ^(?:app|config|routes|views|storage|vendor)(?:/|$) - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
